/* Custom css for calendar */
.fc-toolbar.fc-header-toolbar {
	background: var(--color-blue);
	color: white;
}
.fc-view.fc-month-view.fc-basic-view {
	background: var(--color-gray-lt);
}
#calendar .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0;
}
.fc-header-toolbar .fc-button {
	color: white;
	border: 0;
	background: none;
	text-shadow: none;
}
.fc-time {
	color: var(--color-blue);
	font-weight: bold;
}
.fc-content {
	font-size: 12px;
}
.fc-month-view .fc-day-grid-event .fc-content {
	min-height: 32px;
	white-space: normal;
	text-overflow: ellipsis;
}
.fc-month-view .fc-event {
	background: white;
	border: 1px solid var(--color-gray-dk);
	border-left: 3px solid var(--color-blue);
	color: #666;
	padding: 8px 5px;
}
.fc-month-view .fc-event:hover {
	color: #666;
}
.fc-event-dot {
	display: none !important;
}
.fc-today .fc-day-number {
	color: var(--color-blue);
	font-weight: bold;
}
.fc-day-number {
	margin-left: 4px;
}

/* Mobile view header and buttons */
@media (max-width: 700px) {
	.fc-toolbar button:focus {
		background-color: var(--color-blue-focus);
	}
	.fc-list-item {
		border: 1px solid var(--color-gray-dk);
		border-left: 5px solid var(--color-blue);
	}
	.fc .fc-list-table {
		margin-top: 1em;
	}
	/* Mobile view cancelled event */
	.fc-list-item.fc-has-url.cancelled .fc-list-item-time,
	.fc-list-item.fc-has-url.cancelled .fc-list-item-title {
		color: var(--color-gray-dk);
	}
	.fc-list-item.fc-has-url.cancelled {
		border-left: 5px solid var(--color-gray-dk);
	}
	.fc-list-item.fc-has-url.cancelled td:first-child::after {
		content: 'cancelled';
		text-transform: uppercase;
		color: var(--color-red);
		display: block;
		font-size: 11px;
		font-weight: bold;
	}
}

#calendar .fc-today-button {
	font-size: 12px;
	padding: 10px;
	text-transform: uppercase;
}
#calendar .fc-month-view th {
	font-weight: normal;
	text-align: left;
	padding-left: 5px;
}
#calendar .fc-month-view .fc-day-number {
	float: left;
}

/* Cancelled event */
a.cancelled .fc-time,
a.cancelled .fc-content {
	color: var(--color-gray-dk);
}
a.cancelled.fc-event {
	border-left: 3px solid var(--color-gray-dk);
}
a.cancelled.fc-event::after {
	content: 'cancelled';
	text-transform: uppercase;
	color: var(--color-red);
	display: block;
	font-size: 11px;
	font-weight: bold;
}

.fc-scroller {
	overflow: visible !important;
	height: auto !important; 
}

