
/* Custom css for calendar */
.fc-toolbar.fc-header-toolbar {
	background: var(--color-blue);
	color: white;
}
.fc-view.fc-month-view.fc-basic-view {
	background: var(--color-gray-lt);
}
#calendar .fc-toolbar.fc-header-toolbar {
	margin-bottom: 0;
}
.fc-header-toolbar .fc-button {
	color: white;
    border: 0;
    background: none;
    text-shadow: none;
}
.fc-time {
	color: var(--color-blue);
    font-weight: bold;
}
.fc-content {
	font-size: 12px;
}
.fc-month-view .fc-day-grid-event .fc-content {
	height: 32px;
    white-space: normal;
    text-overflow: ellipsis;
}
.fc-month-view .fc-event {
    background: white;
    border: 1px solid var(--color-gray-dk);
    border-left: 3px solid var(--color-blue);
    color: #666;
    transition: border-width 0.2s ease-in-out;
    padding: 8px 5px;
}
.fc-month-view .fc-event:hover {
    border: 1px solid var(--color-gray-dk);
    border-left: 4px solid var(--color-blue);
    color: #666;
}
#calendar .fc-today-button {
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
}


/* Cancelled event */
a.cancelled .fc-time,
a.cancelled .fc-content {
	color: var(--color-gray-dk);
}
a.cancelled.fc-event {
    border-left: 3px solid var(--color-gray-dk);
}
a.cancelled.fc-event::after {
    content: 'cancelled';
    text-transform: uppercase;
    color: var(--color-red);
    display: block;
    padding-left: 20px;
    font-size: 11px;
    font-weight: bold;
}