/* Fonts */
body {
	font-family: var(--default-font);
}
@font-face {
    font-family: "Hobo";
    src: url("../fonts/HoboStd.woff") format("woff")
}
@font-face {
    font-family: "Hobo";
    src: url("../fonts/Hobo-Bold.woff") format("woff")
    font-weight: bold;
}
.sny-font-hobo {
	font-family: "Hobo";
}
h2 {
	font-size: 16px;
	padding: 10px;
}

/* Components */
.sny-logo {
	margin: 5px auto;
}
.sny-loader {
	display: block;
    width: 100%;
    background: url(images/loader.gif) no-repeat center;
    background-size: 300px;
    position: absolute;
}
.sny-mh450 {
    min-height: 450px;
}
.suggestion-box .card.mb-4.shadow-sm {
	padding: 3em;
}

/* Spacing */
.sny-flex-col {
	display: flex;
    flex-direction: column;
}
.sny-hide {
	display: none;
}