/* Fonts */
body {
	font-family: var(--default-font);
}
@font-face {
    font-family: "Hobo";
    src: url("../fonts/HoboStd.woff") format("woff")
}
.sny-font-hobo {
	font-family: "Hobo";
}

/* Components */
.sny-logo {
	margin: 5px auto;
}
.sny-loader {
	display: block;
    width: 100%;
    background: url(images/loader.gif) no-repeat center;
    background-size: 300px;
    position: absolute;
}
.sny-mh450 {
    min-height: 450px;
}
#calendar {
	/* For smooth transition after render */
	display:none;
}
.suggestion-box .card.mb-4.shadow-sm {
	padding: 3em;
}